<h1><a href="{% url 'board:mainview' %}">홈</a></h1>
<h1>{{ post.title }}</h1>
<p>{{ post.text }}</p>
<p>{{ post.mod_date}}</p>

<p>
    <a href="{% url 'board:deletepost' post.id %}">삭제</a>
    <a href="{% url 'board:updatepost' post.id %}">수정</a>
</p>

<h3> 댓글 </h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.text }}
        <input type = "submit">
    </form>
<ul>
    {% for comment in comments %}
        <li>{{ comment.text }}</li>
        <form action="{% url 'board:deletecomment' post.id comment.id %}" method="POST">
            {% csrf_token %}
            <input type = "submit" value = "삭제">
        </form>
        <input type = "submit" value = "수정" onClick="location.href='{% url 'board:updatecomment' post.id comment.id %}'">
    {% endfor %}
</ul>